<% content_for :content do %>
<div class="wrapper">
  <div class="main-wrapper row">
    <div class="col-lg-12 col-sm-12 title-main">
      <h4 class="m-0">Company Management</h4>
    </div>
    <form class="col-lg-12 col-sm-12 p-0" id="company-register-frm" method="POST">
        <div class="form-wrapper mt-4 p-0 mr-0 d-flex">
            <table id="table-company-frm" class="table col-lg-6 col-sm-6">
                <tr>
                    <td width="20%"><label>Company Code <span class="text-danger">*</span></label></td>
                    <td width="80%">
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <input type="text" id="code" name="code" class="form-control" aria-describedby="emailHelp" placeholder="Company code">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Company Name <span class="text-danger">*</span></label></td>
                    <td>
                        <div class="row form-group">
                            <div class="col-sm-8">
                                <input type="text" name="company_name" id="company_name" class="form-control" placeholder="Please enter Company name">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label>Address <span class="text-danger">*</span></label></td>
                    <td>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <input type="text" name="address" id="address" class="form-control" placeholder="Please enter Address">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="email">Email <span class="text-danger">*</span></label></td>
                    <td>
                        <div class="row form-group">
                            <div class="col-sm-8">
                                <input type="email" name="email" class="form-control" id="email" placeholder="Please enter Email">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="phone_number">Phone number <span class="text-danger">*</span></label></td>
                    <td>
                        <div class="row form-group">
                            <div class="col-sm-8">
                                <input type="text" name="phone_number" id="phone_number" class="form-control" id="phone_number" placeholder="Please enter Phone number">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><label for="phone_number">Website </label></td>
                    <td>
                        <div class="row form-group">
                            <div class="col-sm-8">
                                <input type="text" id="website" name="website" class="form-control" aria-describedby="emailHelp" placeholder="Please enter Website">
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <table class="col-lg-6 col-sm-6 upload-logo">
                <tr height="114px">
                    <td>
                        <label>Logo <span class="text-danger">*</span></label>
                        <%= image_tag("default.png", :alt => "default image", class: "d-block logo-img") %>
                        <div class="btn btn-upload">
                            <label for="upload"><i class="fa fa-camera" aria-hidden="true"></i>upload</label>
                            <input type="file" id="upload"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="hidden" class="d-block" id="logo_image" name="upload" value="">
                        <label id="error_image" generate="true" class="d-block error"></label>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-12 col-sm-12 d-flex justify-content-end align-items-center my-4">
            <ul class="nav group-btn">
                <li class="nav-item">
                    <button type="submit" class="btn btn-success">Register</button>
                </li>
                <li class="nav-item">
                    <%= link_to "Back", { controller: 'companies' , action: 'index' }, class: "btn btn-dark" %>
                </li>
            </ul>
        </div>
    </form>
  </div>
</div>
<% end %>