// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #edf0f0;
    box-shadow: 1px 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    padding: 0px 2rem;
}

header .logo {
    font-size: 2rem;
    font-weight: 400;
}
.nav-menu-header {
    display: flex;
    align-items: center;
    margin: 0px;
}
.nav-menu-header .avatar {
    border-radius: 50%;
}
.nav-menu-header  > li > a {
    color: gray;
    font-size: 1.1rem;
}
header .dropdown-menu {
    top: 0;
    left: 0;
    transform: translate3d(-100px, 66px, 0px) !important;
}
.wrapper .main-wrapper {
    width: 95%;
    margin: 2.5% auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 90px #00000029;
    border: 0.5px solid #C8C8C8;
    border-radius: 6px;
    opacity: 1;
}
.wrapper .main-wrapper .title-main {
    padding: 0.8rem 1.2rem;
    background-color: #72ACFF;
    display: flex;
    font-weight: 400;
    align-items: center;
    border-radius: 6px;
}
#company-management-frm, 
#company-register-frm,
#company-details-frm {
    hr {
        border-bottom: 1px solid black;
    }
}
#company-management-frm,
#company-register-frm,
#company-details-frm {
    #table-company-frm td label {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}
#company-management-frm,
#company-register-frm,
#company-details-frm {
    #table-company-frm td {
        vertical-align: middle;
        border-top: none !important;
    }
}

#company-management-frm,
#company-register-frm,
#company-details-frm {
    #table-company-frm td .form-control {
        border: 2px solid #72ACFF;
        height: 45px;
        border-radius: 10px !important;
    }
}

.group-btn a, button {
    width: 120px;
    height: 40px;
    border-radius: 10px !important;
    margin-left: 10px;
}
.table-company {
    width: 98%;
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: center;
    box-shadow: 0px 3px 90px #00000029;
    border: 0.5px solid #C8C8C8;
    border-radius: 6px;
    opacity: 1;
    height: 450px;
}
#table-company-content th {
    background-color: #72ACFF;
    padding: 1.5rem;
}
#table-company-content .col-content {
    box-shadow: 0px 3px 90px #00000029;
    border: 0.5px solid #C8C8C8;
    opacity: 1;
    vertical-align: middle;
}
#table-company-content .col-content .btn {
    width: 100px;
}
#table-company-content .col-content .btn-status-stop {
    background: #92929D 0% 0% no-repeat padding-box;
    border: 1px solid #92929D;
}
#table-company-content .col-content .btn-status-working {
    background: #11AA0C 0% 0% no-repeat padding-box;
    border: 1px solid #11AA0C;
}
#table-company-content .col-content .btn-status-pending {
    background: #E9CB03 0% 0% no-repeat padding-box;
    border: 1px solid #E9CB03;
}
#table-company-content .col-content .btn-detail {
    background: #30C0F0 0% 0% no-repeat padding-box;
    border: 1px solid #30C0F0;
}
#table-company-content .col-content .btn-remove {
    background: #D31212 0% 0% no-repeat padding-box;
    border: 1px solid #D31212;
}
.form-wrapper {
    padding: 0px 2.5rem !important;
    margin: auto;
    border-bottom: 1px solid #000;
}
.upload-logo {
    tr {
        vertical-align: top;
        td {
            width: 325px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 5rem;
            label {
                font-size: 1.1rem;
            }
        }
    }
    .logo-img {
        width: 112px;
        height: 112px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eee;
    }
    .btn-upload {
        label {
            cursor: pointer;
            position: relative;
            background-color: #0058FF;
            padding: 5px 10px;
            color: #fff;
            border-radius: 5px;
            i {
                color: #000;
                margin-right: 5px;
                padding: 0px;
            }
        }
        input {
            display: none;
            position: absolute;
        }
    } 
}
#company-details-frm {
    #table-company-frm {
        input[type="text"] {
            color: #212529;
        }
        .text-status {
            font-size: 1.2rem;
        }
    }
}
.group-btn-status,
.group-btn {
    button,a {
        font-weight: 600;
        color: #FFFFFF
    }
}
.disable {
    background: none !important;
    color: #ccc !important;
}